extends ../layout/main

block variables
  - var title = 'Document';
  - var description = 'Document description';
  - var PageClass = 'index-page';

block content
  section
    +item('Title1', 'Dsrc1')
    +item('Title2', 'Dsrc2')
    +item('Title3', 'Dsrc3')