extends ../layout/main

block variables
  - var title = 'Document';
  - var description = 'Document description';
  - var PageClass = 'index-page';

block content
  section
    +item('Main page', 'Only for example')